<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <import resource="classpath:applicationContext-dao.xml"/>

    <bean id="bbtForum"
          class="com.baobaotao.service.impl.BbtForumImpl"
          p:forumDao-ref="forumDao"
          p:topicDao-ref="topicDao"
          p:postDao-ref="postDao"/>

    <!--1.事务管理器-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>

    <!--使用切面表达式定义目标方法-->
    <aop:config>
        <!--使用aop定义事务增强切面-->
        <aop:pointcut id="serviceMethod"
                      expression="execution(* com.baobaotao.service.*Forum.*(..))"/>
        <!--配置切面,引用切点 和 下面配置的事务增强 -->
        <aop:advisor pointcut-ref="serviceMethod"
                     advice-ref="txAdvice"/>
    </aop:config>

    <!--事务增强-->
    <!--
    <tx:advice>
    通过 transaction-manager属性引用了②处定义的事务管理器
    （它默认查找名为transactionManager的事务管理器，所以如果事务管理器命名为transactionManager，可以不指定transaction-manager属性）
    -->
    <tx:advice id="txAdvice">
        <!--事务属性定义-->
        <tx:attributes>
            <tx:method name="get*" read-only="false"/>
            <tx:method name="add*" rollback-for="PessimisticLockingFailureException"/>
            <tx:method name="update*"/>
        </tx:attributes>
    </tx:advice>
</beans>