<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<context:component-scan base-package="com.zc"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 配置自定义拦截器 
		若有多个拦截器满足拦截的要求,则依照配置的先后顺序依次执行
	-->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 指定需要拦截的路径 -->
			<!-- /*只拦截该路径下的请求,不包括子路径 -->
			<!-- <mvc:mapping path="/*"/> -->
			<!-- 会拦截该路径及其子路径下的所有请求 -->
			<mvc:mapping path="/**"/>
			<!-- 指定排除在外的路径 -->
			<!-- <mvc:exclude-mapping path="/"/> -->
			<bean class="com.zc.interceptor.SomeInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean class=" org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>